/*-- scss:defaults --*/

// Custom colours and variables
$primary: #041e42;
$accent2: #bbbcbc;
$accent: #862633;
$subtle-accent: #003da5;

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,350,350i,400,400i');

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
$link-color: $accent;
$hover-color: lighten($link-color, 40%);

/*-- scss:rules --*/

div.questions {
  border-color: $accent;
  border-radius: .5rem;
  border-width: .25rem;
  border-style: solid;
  padding: .75rem;
  margin: .25rem;
  ;
  font-size: 0.75em;
}

div.thm {
  border-color: $primary ;
  border-radius: .5rem;
  border-width: .25rem;
  border-style: solid;
  padding: .75rem;
  margin: .25rem;
  ;
  font-size: 0.75em;

}

.small {
  font-size: 0.75em;
}

.smallest {
  font-size: 0.5em;
}

.large {
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

a{
  color: $link-color;
  text-decoration: none;
  
  &:hover{
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }
  
}

.render-commit-push {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #5B888C;
  border-bottom: 1px solid #5B888C;
/*  background-image: url("images/render-commit-push.png"); */
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

.pull {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #E0A890;
  border-bottom: 1px solid #E0A890;
/*  background-image: url("images/pull.png"); */
  background-size: 1em;
  background-position: 1em 0.5em;
}

.project {
  padding: 1em;
  border: 1pt dotted #a493ba;
  margin-bottom: 15px;
}
